<!DOCTYPE html>
<html>
<head> 
    <title>Blossom Solution Test</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/img/favicon-32x32.png">
    <link rel="icon" href="/static/img/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/img/apple-touch-icon152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon180x180.png">
    <link rel="apple-touch-icon" sizes="192x192" href="/static/img/apple-touch-icon192x192.png">
</head>
<body>
<h1>Blossom Solution Test</h1>
<form action="/solve" method="POST" id="input-form">
    <p>
        <b>Six Petal Letters</b>
    </p>
    <table class="input-table" align="center">
        <tr class="input-table" >
            <td class="input-table" ><input type="textbox" name="petal0"/></td>
            <td class="input-table" ><input type="textbox" name="petal1"/></td>
            <td class="input-table" ><input type="textbox" name="petal2"/></td>
            <td class="input-table" ><input type="textbox" name="petal3"/></td>
            <td class="input-table" ><input type="textbox" name="petal4"/></td>
            <td class="input-table" ><input type="textbox" name="petal5"/></td>
        </tr>
    </table>
    <p>
        <b>Center Letter</b>
    </p>
    <table class="input-table" align="center">
        <tr class="input-table">
            <td class="input-table"><input type="textbox" name="center"/></td>
        </tr>

    </table>
    <button type="submit"><b>Solve</b></button>
</form>

<table class="answer-table" align="center">
    <th class="answer-table" style="width:70%">
        Word
    </th>
    <th class="answer-table" style="width:15%">
        Score
    </th>
    <th class="answer-table" style="width:15%">
        Letter
    </th>
    <tr class="answer-table" >
        <td class="answer-table-left">
            Fred
        </td>
        <td class="answer-table-center" >
            10
        </td>
        <td class="answer-table-center" >
            F
        </td>
    </tr>
    <tr class="answer-table" >
        <td class="answer-table-left">
            Barney
        </td>
        <td class="answer-table-center" >
            15
        </td>
        <td class="answer-table-center" >
            B
        </td>
    </tr>
    <tr class="answer-table" >
        <td class="answer-table-left">
            Wilma
        </td>
        <td class="answer-table-center" >
            30
        </td>
        <td class="answer-table-center" >
            W
        </td>
    </tr>
    <tr class="answer-table" >
        <td class="answer-table-left">
            Betty
        </td>
        <td class="answer-table-center" >
            25
        </td>
        <td class="answer-table-center" >
            B
        </td>
    </tr>
    <tr class="answer-table" >
        <td class="answer-table-left">
            Total
        </td>
        <td class="answer-table-center" >
            100
        </td>
        <td class="answer-table-center" >
            
        </td>
    </tr>
</table>

</body>
</html>